.jumbotron {
    padding: 20px;
}
.navbar-default {
    background-color: #C3C5C4!important;
    color: #3A3838!important;
    border-color: #B5B5B5!important;
}
.navbar-brand {
    color: #3A3838!important;
}
.navbar-nav > li > a {
    color: #3A3838!important;
}
